<div class="wardrobe">

  <h2 class="title">My Wardrobe</h2>

  <div class="cards">
    <div *ngFor="let outfit of outfits" class="card" routerLink="/wardrobe/{{ outfit.id }}">
      <div class="card-content">
        <p>{{ outfit.name }}</p>
      </div>
      <div class="card-image">
        <figure class="image">
          <div id="canvas-container{{ outfit.id }}">
            <app-business-casual-male-svg [outfit]="outfit"></app-business-casual-male-svg>
          </div>
        </figure>
      </div>
    </div>
  </div>

</div>