<div style="text-align:center">
  <h1>
    Welcome {{ authService.isLoggedIn() ? 'back to ' +title+ ', ' +authService.currentUser.username : 'to ' +title }}!
  </h1>
  <h4>Step {{ currentStep }} / 4</h4>
  <p>{{ currentTask }}</p>
</div>

<div class="mannequin">
  <div class="container">
    <!-- <div class="head">&nbsp;</div> -->
    <div class="shirt-container">
      <div class="left" (click)="selectPrevious('shirt')"> {{ currentlyChoosing === 'shirt' ? '<' : '' }} </div>
      <div class="shirt" [style.background-color]="selectedShirtColor.colorcode" (click)="checkIfSelected('shirt')">&nbsp;</div>
      <div class="right" (click)="selectNext('shirt')"> {{ currentlyChoosing === 'shirt' ? '>' : '' }} </div>
    </div>
    <div class="pants-container">
      <div class="left" (click)="selectPrevious('pants')"> {{ currentlyChoosing === 'pants' ? '<' : '' }}  </div>
      <div class="pants">
        <div class="leg" [style.background-color]="selectedPantsColor.colorcode" (click)="checkIfSelected('pants')">&nbsp;</div>
        <div class="leg" [style.background-color]="selectedPantsColor.colorcode" (click)="checkIfSelected('pants')">&nbsp;</div>
      </div>
      <div class="right" (click)="selectNext('pants')"> {{ currentlyChoosing === 'pants' ? '>' : '' }}  </div>
    </div>
    <div class="shoes-container">
      <div class="left" (click)="selectPrevious('shoes')"> {{ currentlyChoosing === 'shoes' ? '<' : '' }}  </div>
      <div class="shoes">
        <div class="shoe" [style.background-color]="selectedShoeColor.colorcode" (click)="checkIfSelected('shoes')">&nbsp;</div>
        <div class="shoe" [style.background-color]="selectedShoeColor.colorcode" (click)="checkIfSelected('shoes')">&nbsp;</div>
      </div>
      <div class="right" (click)="selectNext('shoes')"> {{ currentlyChoosing === 'shoes' ? '>' : '' }}  </div>
    </div>
  </div>
</div>

<div class="controls">
  <button (click)="startOver()">Start Over</button>
  <button *ngIf="authService.isLoggedIn()" (click)="saveOutfit()">Save Outfit</button>
</div>