<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="mannequin">
  <div class="skin">skin tone: {{ selectedSkinTone ? skinTones[selectedSkinTone - 1].tone : 'not selected' }}</div>
  <div class="shirt">shirt: {{ selectedShirtColor ? shirtColors[selectedShirtColor - 1].color : 'not selected' }}</div>
  <div class="pants">pants: {{ selectedPantsColor ? pantsColors[selectedPantsColor - 1].color : 'not selected' }}</div>
  <div class="shoes">shoes: {{ selectedShoeColor ? shoeColors[selectedShoeColor - 1].color : 'not selected' }}</div>
</div>

<div class="settings">
  <div class="skinTones">
    Skin tones:
    <ul>
      <li (click)="resetSkinTone()">Reset</li>
      <li *ngFor="let skinTone of skinTones" [class.selected]="selectedSkinTone == skinTone.id" (click)="selectSkinTone(skinTone.id)">
        {{ skinTone.tone }}
      </li>
    </ul>
  </div>

  <div class="shirtColors">
    Shirt colors:
    <ul>
      <li (click)="resetShirtColor()">Reset</li>
      <li *ngFor="let shirtColor of filteredShirtColors" [class.selected]="selectedShirtColor == shirtColor.id" (click)="selectShirtColor(shirtColor.id)">
        {{ shirtColor.color }}
      </li>
    </ul>
  </div>

  <div class="pantsColors">
    Pants colors:
    <ul>
      <li (click)="resetPantsColor()">Reset</li>
      <li *ngFor="let pantsColor of filteredPantsColors" [class.selected]="selectedPantsColor == pantsColor.id" (click)="selectPantsColor(pantsColor.id)">
        {{ pantsColor.color }}
      </li>
    </ul>
  </div>

  <div class="shoeColors">
    Shoe colors:
    <ul>
      <li (click)="resetShoeColor()">Reset</li>
      <li *ngFor="let shoeColor of filteredShoeColors" [class.selected]="selectedShoeColor == shoeColor.id" (click)="selectShoeColor(shoeColor.id)">
        {{ shoeColor.color }}
      </li>
    </ul>
  </div>
</div>

