<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="mannequin">
  <div class="container">
    <!-- <div class="head">&nbsp;</div> -->
    <div class="shirt-container">
      <div class="left"><</div>
      <div class="shirt" [style.background-color]="selectedShirtColor.colorcode">&nbsp;</div>
      <div class="right">></div>
    </div>
    <div class="pants-container">
      <div class="left"><</div>
      <div class="pants">
        <div class="leg" [style.background-color]="selectedPantsColor.colorcode">&nbsp;</div>
        <div class="leg" [style.background-color]="selectedPantsColor.colorcode">&nbsp;</div>
      </div>
      <div class="right">></div>
    </div>
    <div class="shoes-container">
      <div class="left"><</div>
      <div class="shoes">
        <div class="shoe" [style.background-color]="selectedShoeColor.colorcode">&nbsp;</div>
        <div class="shoe" [style.background-color]="selectedShoeColor.colorcode">&nbsp;</div>
      </div>
      <div class="right">></div>
    </div>
  </div>
</div>

<div class="settings">
  <div class="skinTones">
    Skin tones:
    <ul>
      <li (click)="resetSkinTone()">Reset</li>
      <li *ngFor="let skinTone of skinTones" [class.selected]="selectedSkinTone.id == skinTone.id" (click)="selectSkinTone(skinTone)">
        {{ skinTone.tone }}
      </li>
    </ul>
  </div>

  <div class="shirtColors">
    Shirt colors:
    <ul>
      <li (click)="resetShirtColor()">Reset</li>
      <li *ngFor="let shirtColor of filteredShirtColors" [class.selected]="selectedShirtColor.id == shirtColor.id" (click)="selectShirtColor(shirtColor)">
        {{ shirtColor.color }}
      </li>
    </ul>
  </div>

  <div class="pantsColors">
    Pants colors:
    <ul>
      <li (click)="resetPantsColor()">Reset</li>
      <li *ngFor="let pantsColor of filteredPantsColors" [class.selected]="selectedPantsColor.id == pantsColor.id" (click)="selectPantsColor(pantsColor)">
        {{ pantsColor.color }}
      </li>
    </ul>
  </div>

  <div class="shoeColors">
    Shoe colors:
    <ul>
      <li (click)="resetShoeColor()">Reset</li>
      <li *ngFor="let shoeColor of filteredShoeColors" [class.selected]="selectedShoeColor.id == shoeColor.id" (click)="selectShoeColor(shoeColor)">
        {{ shoeColor.color }}
      </li>
    </ul>
  </div>
</div>

<div class="debug">
    <div>skin tone: {{ selectedSkinTone ? selectedSkinTone.tone : 'not selected' }}</div>
    <div>shirt: {{ selectedShirtColor ? selectedShirtColor.color : 'not selected' }}</div>
    <div>pants: {{ selectedPantsColor ? selectedPantsColor.color : 'not selected' }}</div>
    <div>shoes: {{ selectedShoeColor ? selectedShoeColor.color : 'not selected' }}</div>
  </div>