<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>

<div class="mannequin">
  <div class="shirt">shirt</div>
  <div class="pants">pants</div>
  <div class="shoes">shoes</div>
</div>

<div class="settings">
  <div class="skinTones">
    Skin tones:
    <ul>
      <li *ngFor="let skinTone of skinTones">
        {{ skinTone.tone }}
      </li>
    </ul>
  </div>

  <div class="shirtColors">
    Shirt colors:
    <ul>
      <li *ngFor="let shirtColor of shirtColors">
        {{ shirtColor.color }}
      </li>
    </ul>
  </div>

  <div class="pantsColors">
    Pants colors:
    <ul>
      <li *ngFor="let pantsColor of pantsColors">
        {{ pantsColor.color }}
      </li>
    </ul>
  </div>

  <div class="shoeColors">
    Shoe colors:
    <ul>
      <li *ngFor="let shoeColor of shoeColors">
        {{ shoeColor.color }}
      </li>
    </ul>
  </div>
</div>

