<div class="landing-page">
  <div class="titles">
    <h2 class="title">Welcome to</h2>
    <h1 class="title">Outfit Chooser</h1>
  </div>

  <div class="img-container">
    <img class="business-casuals" src="./assets/images/Business_casual_male_and_female.svg" alt="Business casual male and female">
  </div>

  <div class="options">
    <div class="text">
      <p>Please log in or sign up to continue.</p>
    </div>

    <div class="buttons">
      <a routerLink="/register" class="save button is-link">
        <!-- <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span> -->
        <span>Signup</span>
      </a>
      <a routerLink="/login" class="save button is-success">
        <!-- <span class="icon is-small">
          <i class="fas fa-check"></i>
        </span> -->
        <span>Login</span>
      </a>
    </div>

  </div>

</div>